@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

.navBarContainer {
    width: 100%;
    background-color: #16b5a3;
    padding: 0.8rem 7rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navLeft>h1 {
    font-family: 'Whisper', cursive;
    font-size: 2rem;
}

.navRight {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navItem {
    list-style: none;
}

.navList {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.navList::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s;
}

.navList:hover::after {
    width: 100%;
}


.hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 11;
    outline: none;
}

.hamburger:focus,
.hamburger:active {
    outline: none;
    box-shadow: none;
}

.navListAfterClick {
    position: absolute;
    top: 4.3rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    z-index: 11;
    transition: all 0.3s ease-in-out;
    /* border-top-left-radius: 1rem; */
    /* border-bottom-left-radius: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    list-style: none;
}

.navListAfterClick .navItem {
    margin: 1rem 2rem;
}

.navListAfterClick .navList {
    color: #2a9d8f;
    font-weight: 800;
    border: 2px solid #2a9d8f;
    padding: 0.5rem 1.5rem;
    border-radius: 1.3rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .navBarContainer {
        padding: 0.8rem 4rem;
    }
}

@media screen and (max-width: 768px) {
    .navBarContainer {
        padding: 0.5rem 2rem;
    }

    .navLeft>h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .navBarContainer {
        padding: 0rem 1rem;
    }

    .navLeft>h1 {
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
    }

    .navRight {
        display: none;
    }
}