.card{
    background-color: rgb(33, 33, 33);
    box-shadow: rgb(42, 157, 143) 0px 0px 30px;
    border-radius: 10px;
    width: 140px;
    height: 160px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: .3s ease-in-out;
    user-select: none;
}
.card:hover{
    transform: scale(1.1);
}

.card> img{
    height: 50px;
    pointer-events: none;
    user-select: none;
}
.card > p{
    color: #eaeaea;
    font-size: 1.1rem;
}