.about_container {
    width: 100%;
    margin: 6rem auto;
    display: flex;
    justify-content: space-around;
}

.about_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 37.5%;
}

.about_left>p {
    color: #eaeaea;
    font-size: 1.3rem;
    opacity: 0.7;
    text-transform: capitalize;
}

.about_right>img {
    width: 380px;
    user-select: none;
}


@media screen and (max-width: 1024px) {
    .about_left {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .about_container {
        padding: 0 2rem;
    }

    .about_left {
        width: 45%;
    }

    .about_left>p {
        font-size: 1.1rem;
    }
    .about_right>img {
        width: 350px;
    }
    
}

@media screen and (max-width: 600px) {
    .about_container{
        flex-direction: column;
    }
    .about_left{
        width: 100vw;
        padding-right: 3rem;
        margin: auto;
        align-items: center;
    }
    .about_right> img{
        display: none;
    }
    .about_left>p {
        color: #eaeaea;
        font-size: 1rem;
    }
}