@import "tailwindcss";



@theme {
    --font-sans: "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui;
    --bg-brand-gradient: linear-gradient(to right, #4f46e5, #9333ea, #06b6d4);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: rgba(79, 70, 229, 0.2);
    color: #4f46e5;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #f8fafc;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4f46e5, #06b6d4);
    border-radius: 10px;
    border: 2px solid #f8fafc;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
}